GATSBY_SANITY_PROJECT_ID="hpwznp2j"
GATSBY_SANITY_DATASET="production"
GATSBY_INSTA_USER="susanturis"
# Rename this file to .env.development for local development.
# Note: After renaming – DO NOT commit this file to git!
SANITY_READ_TOKEN=""

